.app {
  background: linear-gradient(#BF6999, #0477BF);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0 100px 0;
}

.app > h1 {
  color: white;
  font-size: 45px;
}

.app-body {
  background: none;
  border: 5px solid white;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 40% 60%;
  width: 80%;
  padding: 20px 10px 50px 10px;
}

.app-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.app-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.app-list > h2 {
  color: white;
}

.cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  .app-body {
    background: none;
    border: 5px solid white;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 30% 70%;
    width: 80%;
    padding: 20px 10px 50px 10px;
  }
}

@media (max-width: 950px) {
  .app > h1 {
    font-size: 30px;
  }
    
  .app-list > h2 {
      font-size: 20px;
  }

  .app-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .app-list {
    margin-top: 20px;
  }
}

@media (max-width: 620px) {
  .app-list {width: 100%;}
  .cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 460px) {
  .app > h1 {
    font-size: 20px;
  }
    
  .app-list > h2 {
      font-size: 15px;
  }
  .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}